# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Poetry & virtualenv
.venv/
poetry.lock

# Unit test / coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode / Devcontainers
.vscode/
.devcontainer/

# Models & artifacts
models/
*.pt
*.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
